html,
body {
	height: 100%;
}

a {
	color: inherit;
	display: inline-block;
}

body{
	font-family: 'Gilroy', sans-serif;
	font-size: 18px;
	line-height: 21px;
	font-weight: 400;
	color: $accent;
	overflow-x: hidden;
	min-width: 300px;
	background-color: $bg;
}

.wrapper {
	display: flex;
	flex-direction: column;
	min-height: 100%;
}

.main {
	flex: 1 0 auto;
}
.footer {
	flex: 0 0 auto;
}

.container{
  max-width: 1140px;
  margin: 0 auto;
  padding: 0 15px;
}

.wrapper {
	display: flex;
	flex-direction: column;
	min-height: 100%;
}



